
body {
    color: #777777;
    font-family: Arial, 'Helvetic Neue', Helvetica, sans-serif;
    margin: auto;
}


header {
    width: 960px;
    margin: 0 auto;
    height: 75px;
}

h1 {
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#name {
    float: left;
    display: inline;
    padding: 30px 20px 30px 20px;
    margin: 0;
}

ul {
    position: relative;
    margin: 0;
    padding: 0;
    top: 40px;
    float: right;

}
a {
    padding: 8px;
    text-decoration: none;
    color: #777777;

}

li {
    list-style-type: none;
    border-right: 1px solid #dddddd;
    display: inline;
}

li:last-child {
    border-right: none;
}

a:hover {
    color: #4aaaa5;
}
/* flex is used in combination with the flex attribute in the footer to make a 'sticky' footer */
.container {
    margin: 0 auto;
    border-top: 2px solid #777777;
    background: url("gravel.png");
    overflow: auto;
    clear: both;
}

main {
    background-color: #ffffff;
    clear: left;
    border: 2px solid #dddddd;
    padding: 0px 20px 0px 20px;
    margin: 20px auto;
    width: 920px;
    overflow: auto;
}

.main-header {
    background-color: #ffffff;
    color: #4aaaa5;
    border-bottom: 3px solid #dddddd;
}
/* my picture */
#me {
    float: left;
    margin-right: 20px;
    overflow: auto;
    margin-bottom: 10px;
}

input[type=text], textarea {
    width: 100%;
}

input[type=submit] {
    width: 100px;
    background-color: #4aaaa5;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
}

.port-img {
    padding: 0px 20px 10px 0px;
    margin-left: 20px;
}

#second-box, #fourth-box {
    margin-left: 28px;
}
/*portfolio page */
h3 {
    display: inline;
    color: white;
    background-color: #4aaaa5;
    float: left;
    padding: 10px 20px;
    width: 360px;
    margin: 0px 32px 0px 8px;
    text-align: center;
    position: relative;
    top: -70px;
    left: 20px;
}

footer {
    background-color: #666666;
    border-top: 5px #4aaaa5 solid;
    flex-shrink: 0;
    color: white;
    font-size: 60%;
    text-align: center;
    padding-bottom: 2px;
    clear: both;
}
/* can't get main to center so that it has an even amount of background all around*/

@media (max-width: 960px) {
   header {
       width: 100%;}
    body {
        width: 100%;}
    main {
        width: 90%;
        margin: auto;}
    .container {
        width: 100%;
        padding: 10px}
    .port-img {
        width: 300px;
        float: left;
        margin: auto;
        padding: 10px;
    } 
    #portfolio-images {
        margin: auto;
    }
    h3 {
        clear: both;
    }

}

@media (max-width: 768px) {
    header {
        width: 100%;}
    body {
        width: 100%;}
    main {
        width: 80%;
        margin: auto;
    }
    .container {
        margin: auto;
}

@media (max-width: 640px) {
    ul {
        clear: both;
        width: 100%;
        text-align: center;
        background-color: white;
        padding: 10px;
        border-bottom: 2px solid #777777;
    }
    body {
        width: 100%;
        margin: 0;}

    main {
        width: 80%;
        margin: 20px auto;
    }
        
    header {
        background-color: #4aaaa5;
        height: 100px;
        text-align: center; 
        width: 100%;    
    }
    #name {
        float: none;
        position: relative;
        top: 20px;        
    }

    #me {
        float: none;
        margin: auto;
        width: 85%;
        display: block;
    }
    h1 {
        font-size: 2em;
    }
    .main-header {
        margin-top: 10px;}
    
    .container {
        padding-top: 20px;
    }

}




